.bookride-section{
    display: block;
  text-align: center;
}

.bookride-search{
    width: 1800px;
}

.bookride-button{
    font-size: 22px;
    background-color: transparent;
    border-radius: 10px;
    border-color: white;
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 20px;
}

.bookride-button:hover{
    background-color: white;
    color: black;
}