@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap" rel="stylesheet');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #004AAD;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rectangle {
  width: 700px;
  height: 150px;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.info {
  display: flex;
  align-items: center;
}

.profile-image img{
  width: 100px;
  height: 150px;
  background-color: white;
  border-radius: 20%;
  margin-right: 10px;
}

.driver-info p {
  margin: 0;
}

.buttons {
  margin-left: auto;
}

.status-btn {
  padding: 8px 12px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  margin-right: 5px;
}

.join-btn {
  padding: 8px 12px;
  background-color: #000;
  color: #fff;
  border: none;
  text-decoration: none;
}

.join-btn:hover {
  background-color: #ff5f6d;
}

.title h1{
	color:white;
	font-family: 'Edu SA Beginner', cursive;
	font-size: 90px;
	margin:0px;
}


